# 0) Créer une session Spark

In [38]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.getOrCreate()

# 1) Lire de la donnée

## 1.1) Lecture brute

Chargez le fichier ville_1.csv dans une variable nommée df.

Vous pouvez afficher votre donnée en utilisant la méthode take() ou la methode collect() de l'objet pyspark DataFrame (attention appeler collect() sur un dataframe est déconseillé si vous avez du vrai big data).

L'objet possède aussi un attribut appelé dtypes, appelez cet attribut pour obtenir la liste des colonnes et leur type.

In [4]:
path = "./data/Villes/ville_1.csv"
df = spark.read.load(path, format="csv")
df.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string'),
 ('_c12', 'string')]

In [18]:
df.take(1)

[Row(id=2, vitesse_a_pied=2.344207322136085, vitesse_a_velo=6.251219525696226, home='(lon:2.62 lat:2.59)', travail='(lon:2.34 lat:0.97)', sportif=False, casseur=False, statut='cadre', salaire=135167.36710061165, sexe='H', age=44, sportivite=7.814024407120282, velo_perf_minimale=0.4)]

## 1.2) Lecture avec les entêtes

Recharger le même fichier mais cette fois-ci utilisez l'option header pour rajouter les noms de colonnes à votre df.

Appelez l'attribut dtypes et comparez la sortie avec celle de la lecture brute.

In [5]:
df = spark.read.format('csv').options(header=True).load(path)
df.dtypes

[('id', 'string'),
 ('vitesse_a_pied', 'string'),
 ('vitesse_a_velo', 'string'),
 ('home', 'string'),
 ('travail', 'string'),
 ('sportif', 'string'),
 ('casseur', 'string'),
 ('statut', 'string'),
 ('salaire', 'string'),
 ('sexe', 'string'),
 ('age', 'string'),
 ('sportivite', 'string'),
 ('velo_perf_minimale', 'string')]

## 1.3) Lecture avec les types détectés automatiquement

Recharger le fichier avec  l'option inferShema.

L'option 'inferSchema' permet de transformer les colonnes en types plus précis : entier  / booléens / chaines de caractères... bien sûr spark trouve les types uniquement si le fichier d'origine permet de les trouver de manière simple

In [6]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
df.dtypes

[('id', 'int'),
 ('vitesse_a_pied', 'double'),
 ('vitesse_a_velo', 'double'),
 ('home', 'string'),
 ('travail', 'string'),
 ('sportif', 'boolean'),
 ('casseur', 'boolean'),
 ('statut', 'string'),
 ('salaire', 'double'),
 ('sexe', 'string'),
 ('age', 'int'),
 ('sportivite', 'double'),
 ('velo_perf_minimale', 'double')]

## 1.4) L'attribut schema

Il vous permet d'afficher le schéma de votre df, avec pour chaque colonne son nom, son type, et si elle accepte les valeurs nulles ou non.

In [7]:
df.schema

StructType([StructField('id', IntegerType(), True), StructField('vitesse_a_pied', DoubleType(), True), StructField('vitesse_a_velo', DoubleType(), True), StructField('home', StringType(), True), StructField('travail', StringType(), True), StructField('sportif', BooleanType(), True), StructField('casseur', BooleanType(), True), StructField('statut', StringType(), True), StructField('salaire', DoubleType(), True), StructField('sexe', StringType(), True), StructField('age', IntegerType(), True), StructField('sportivite', DoubleType(), True), StructField('velo_perf_minimale', DoubleType(), True)])

Vous avez aussi la méthode printSchema() qui permet d'afficher le shéma du df de manière plus lisible.

In [8]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

# 2) Ecriture de la dataframe sur le disque

Sauvegardez le df sous différents formats.

## 2.1) choix du format : csv

In [9]:
df.write.format("csv").save("./data/Villes/csv")

## 2.2) choix du format : parquet

In [10]:
df.write.format("parquet").save("./data/Villes/parquet")

## 2.3) choix du format : json

In [11]:
df.write.save("./data/Villes/ville", format="json")

## 2.4) Lecture de différents formats

Vous pouvez choisir de lire le df sous un format ou un autre en utilisant l'argument format dans la fonction spark.read.load

In [19]:
# le ! vous permet d'executer des commandes dans votre terminal depuis le notebook
!ls ./data/Villes/ville/

part-00000-675a2157-8f4a-4ad9-8fbf-2c583ad7b596-c000.json  _SUCCESS

In [20]:
df_json = spark.read.load("./data/Villes/ville/", format="json")

In [21]:
df_parquet = spark.read.load("./data/Villes/parquet", format="parquet")

# 3) Calculer des résultats : les actions

## 3.1) Nombre de lignes : count

Chargez les fichiers csv contenus dans le dossiers ./data/Cyclistes/ dans un df nommé cyclistes, puis comptez les lignes du dataframe obtenu.

In [85]:
path_cyclistes = "./data/Cyclistes/"

cyclistes = spark.read.format('csv').options(header=True, inferSchema=True).load(path_cyclistes)
# cyclistes.show()

In [69]:
cyclistes.count()

2232000

Afficher le schéma de ce nouveau df

In [67]:
cyclistes.schema

StructType([StructField('id', IntegerType(), True), StructField('timestamp', TimestampType(), True), StructField('sur_velo', BooleanType(), True), StructField('velo', StringType(), True), StructField('vitesse', DoubleType(), True), StructField('position', StringType(), True), StructField('destination_finale', StringType(), True)])

Affichez 10 lignes du df.

In [68]:
cyclistes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- sur_velo: boolean (nullable = true)
 |-- velo: string (nullable = true)
 |-- vitesse: double (nullable = true)
 |-- position: string (nullable = true)
 |-- destination_finale: string (nullable = true)

## 3.2) Moyenne : agg + colonne + mean

A l'aide de la méthode agg(), calculez la moyenne sur la colonne vitesse.

Vous pouvez récuperer le résultat avec la méthode collect().

In [47]:
cyclistes.agg(F.mean(cyclistes.vitesse)).collect()

[Row(avg(vitesse)=0.4423137464016766)]

## 3.3) Quantile approximatifs pour gagner du temps de calcul

En statistiques et en théorie des probabilités, les quantiles sont les valeurs qui divisent un jeu de données en intervalles contenant le même nombre de données. Il y a donc un quantile de moins que le nombre de groupes créés. Ainsi les quartiles sont les trois quantiles qui divisent un ensemble de données en quatre groupes de taille égale.

La méthode approxQuantile permet de laisser une tolérance a l'erreur ce qui réduit le temps de calul sur d'énormes jeux de données.

In [48]:
import time

In [49]:
def calcul_quantile(df, erreur_acceptee):
    debut            = time.time()
    colonne          = "vitesse"
    quantiles_voulus = [0.25, 0.50, 0.75]
    resultat         =  df.approxQuantile(colonne, quantiles_voulus , erreur_acceptee )
    fin              = time.time()
    delais           = fin -debut
    print ("delais =%.2f sec, quantiles = %s"%(delais, resultat))

In [50]:
calcul_quantile(cyclistes, 0.05)

delais =9.67 sec, quantiles = [0.030000000000000006, 0.2944550644296354, 0.6295531740219638]

In [51]:
calcul_quantile(cyclistes, 0.01)

delais =5.19 sec, quantiles = [0.030000000000000006, 0.2973786407359121, 0.6295531740219638]

In [52]:
calcul_quantile(cyclistes, 0)

delais =18.64 sec, quantiles = [0.030000000000000006, 0.3283952876721612, 0.6295531740219638]

## Reload de la dataframe villes

Chargez le fichier villes dans un df nommé villes.

In [53]:
villes =spark.read.load("./data/Villes/", format="csv", header=True, inferSchema="True")
villes.printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

In [66]:
villes.count()

50

## 3.4) corrélation

En probabilités et en statistique, la corrélation entre plusieurs variables aléatoires ou statistiques est une notion de liaison qui contredit leur indépendance.

Calculez la corrélation entre les colonnes age et vitesse_a_velo.

In [60]:
villes.corr('age', 'vitesse_a_velo')

-0.06411845578664936

## 3.5) covariance

La covariance entre deux variables aléatoires est un nombre permettant de quantifier leurs écarts conjoints par rapport à leurs espérances respectives. Elle s’utilise également pour deux séries de données numériques (écarts par rapport aux moyennes).
La covariance est une extension de la notion de variance. La corrélation est une forme normalisée de la covariance.

Calculez la covariance entre les colonnes age et vitesse_a_velo.

In [61]:
villes.cov('age', 'vitesse_a_velo')

-1.5721945755314064

## 3.6) sample

La méthode sample() permet de tirer aléatoirement une fraction du dataframe.
Stockez dans un nouveau dataframe nommée villes_1pct, une fraction egale à 1% du df. Comptez le nombre de lignes obtenu.

In [75]:
villes.count()

50

In [76]:
villes_1pct = villes.sample(0.01)
villes_1pct.count()

1

In [77]:
cyclistes.count()

2232000

In [88]:
cyclistes_1pct = cyclistes.sample(0.01)
cyclistes_1pct.count()

22350

A l'aide de la méthode exceptAll(), compter le nombre de ligne dans ville en omettant la fraction contenu dans ville_1pct

In [82]:
villes.exceptAll(villes_1pct).count()

49

In [83]:
cyclistes.exceptAll(cyclistes_1pct).count()

2209686

## 3.7) filter 

La méthode filter() permet le df selon certaines valeurs dans les colonnes.

Utilisez cette méthode pour récuperer seulement les lignes avec le sexe féminin.

In [86]:
villes.take(5)

[Row(id=2, vitesse_a_pied=2.344207322136085, vitesse_a_velo=6.251219525696226, home='(lon:2.62 lat:2.59)', travail='(lon:2.34 lat:0.97)', sportif=False, casseur=False, statut='cadre', salaire=135167.36710061165, sexe='H', age=44, sportivite=7.814024407120282, velo_perf_minimale=0.4),
 Row(id=3, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:3.79 lat:3.81)', travail='(lon:0.20 lat:0.21)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=20026.72646423192, sexe='F', age=20, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=4, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:3.39 lat:0.93)', travail='(lon:0.58 lat:0.20)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=15214.584161640825, sexe='F', age=35, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=5, vitesse_a_pied=0.030000000000000006, vitesse_a_velo=0.08, home='(lon:2.88 lat:3.78)', travail='(lon:3.38 lat:2.93)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18235.92844960795, sexe='H', age=71, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=6, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:0.44 lat:1.45)', travail='(lon:1.85 lat:0.04)', sportif=False, casseur=False, statut='professeur', salaire=30852.120709809133, sexe='F', age=79, sportivite=0.1, velo_perf_minimale=0.4)]

In [96]:
villes_f_filter = villes.filter(villes.sexe == 'F').collect()
villes_f_filter

[Row(id=3, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:3.79 lat:3.81)', travail='(lon:0.20 lat:0.21)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=20026.72646423192, sexe='F', age=20, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=4, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:3.39 lat:0.93)', travail='(lon:0.58 lat:0.20)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=15214.584161640825, sexe='F', age=35, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=6, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:0.44 lat:1.45)', travail='(lon:1.85 lat:0.04)', sportif=False, casseur=False, statut='professeur', salaire=30852.120709809133, sexe='F', age=79, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=7, vitesse_a_pied=0.9726853575358816, vitesse_a_velo=2.431713393839704, home='(lon:0.18 lat:2.60)', travail='(lon:2.16 lat:2.28)', sportif=False, casseur=False, statut='employe', salaire=54494.87538632937, sexe='F', age=46, sportivite=4.863426787679408, velo_perf_minimale=0.4),
 Row(id=9, vitesse_a_pied=0.6295531740219638, vitesse_a_velo=1.5738829350549093, home='(lon:2.16 lat:2.32)', travail='(lon:3.44 lat:3.54)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=11799.927798039249, sexe='F', age=65, sportivite=3.1477658701098186, velo_perf_minimale=0.4),
 Row(id=11, vitesse_a_pied=0.25214291732243804, vitesse_a_velo=0.630357293306095, home='(lon:0.28 lat:2.44)', travail='(lon:1.28 lat:1.40)', sportif=False, casseur=False, statut='employe', salaire=53716.3729157698, sexe='F', age=21, sportivite=1.26071458661219, velo_perf_minimale=0.4),
 Row(id=14, vitesse_a_pied=0.3733552690301726, vitesse_a_velo=0.9333881725754316, home='(lon:3.87 lat:3.74)', travail='(lon:0.41 lat:0.36)', sportif=False, casseur=False, statut='cadre', salaire=74308.6319691613, sexe='F', age=34, sportivite=1.866776345150863, velo_perf_minimale=0.4),
 Row(id=16, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:1.37 lat:1.09)', travail='(lon:0.45 lat:1.77)', sportif=False, casseur=False, statut='éboueur', salaire=21040.289070523115, sexe='F', age=32, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=17, vitesse_a_pied=1.0608622097751907, vitesse_a_velo=2.6521555244379766, home='(lon:3.68 lat:0.79)', travail='(lon:2.67 lat:3.66)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=16946.365288912493, sexe='F', age=16, sportivite=5.304311048875953, velo_perf_minimale=0.4),
 Row(id=18, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:0.51 lat:2.32)', travail='(lon:1.01 lat:0.40)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=22099.145463261266, sexe='F', age=24, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=22, vitesse_a_pied=0.5931162118010243, vitesse_a_velo=1.4827905295025607, home='(lon:1.41 lat:2.43)', travail='(lon:1.49 lat:1.44)', sportif=False, casseur=False, statut='employe', salaire=38906.393030229774, sexe='F', age=36, sportivite=2.965581059005121, velo_perf_minimale=0.4),
 Row(id=23, vitesse_a_pied=0.1431743884246346, vitesse_a_velo=0.3579359710615865, home='(lon:0.80 lat:2.82)', travail='(lon:0.34 lat:3.77)', sportif=False, casseur=False, statut='employe', salaire=29085.686473822872, sexe='F', age=78, sportivite=0.7158719421231731, velo_perf_minimale=0.4),
 Row(id=27, vitesse_a_pied=0.4804764997211946, vitesse_a_velo=1.2011912493029866, home='(lon:0.78 lat:2.62)', travail='(lon:2.30 lat:0.01)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18234.071705216207, sexe='F', age=59, sportivite=2.402382498605973, velo_perf_minimale=0.4),
 Row(id=29, vitesse_a_pied=0.07468040314496042, vitesse_a_velo=0.18670100786240107, home='(lon:3.75 lat:3.12)', travail='(lon:2.30 lat:3.92)', sportif=False, casseur=False, statut='reserviste', salaire=29515.863019061188, sexe='F', age=67, sportivite=0.3734020157248021, velo_perf_minimale=0.4),
 Row(id=30, vitesse_a_pied=0.5525664880322532, vitesse_a_velo=1.3814162200806333, home='(lon:1.08 lat:3.77)', travail='(lon:0.72 lat:3.32)', sportif=False, casseur=False, statut='employe', salaire=27046.171282769843, sexe='F', age=81, sportivite=2.7628324401612665, velo_perf_minimale=0.4),
 Row(id=34, vitesse_a_pied=0.03887047976999849, vitesse_a_velo=0.09717619942499622, home='(lon:2.83 lat:0.56)', travail='(lon:3.25 lat:1.60)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=17175.758356245642, sexe='F', age=21, sportivite=0.19435239884999245, velo_perf_minimale=0.4),
 Row(id=42, vitesse_a_pied=0.6992238313299156, vitesse_a_velo=1.7480595783247892, home='(lon:3.80 lat:3.99)', travail='(lon:2.13 lat:1.65)', sportif=False, casseur=False, statut='employe', salaire=19383.17526928032, sexe='F', age=21, sportivite=3.4961191566495784, velo_perf_minimale=0.4),
 Row(id=47, vitesse_a_pied=0.18444538804220728, vitesse_a_velo=0.4611134701055182, home='(lon:1.74 lat:3.62)', travail='(lon:2.96 lat:2.23)', sportif=False, casseur=False, statut='reserviste', salaire=30798.10624851897, sexe='F', age=58, sportivite=0.9222269402110364, velo_perf_minimale=0.4),
 Row(id=48, vitesse_a_pied=0.5652688776055729, vitesse_a_velo=1.413172194013932, home='(lon:3.51 lat:2.24)', travail='(lon:0.27 lat:1.34)', sportif=False, casseur=False, statut='éboueur', salaire=12133.681930505132, sexe='F', age=56, sportivite=2.8263443880278643, velo_perf_minimale=0.4),
 Row(id=49, vitesse_a_pied=0.9920385410084079, vitesse_a_velo=2.48009635252102, home='(lon:0.13 lat:2.04)', travail='(lon:1.35 lat:0.63)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=9511.945356442959, sexe='F', age=58, sportivite=4.96019270504204, velo_perf_minimale=0.4),
 Row(id=51, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:2.05 lat:2.66)', travail='(lon:3.91 lat:3.22)', sportif=False, casseur=True, statut='professeur', salaire=24102.672522817837, sexe='F', age=61, sportivite=0.1, velo_perf_minimale=0.4)]

In [99]:
villes_f_filter.count()

TypeError: list.count() takes exactly one argument (0 given)

On peux aussi filtrer le df avec la méthode where(). Filtrez le df de la même façon que precedemment en utilisant cette méthode.

In [90]:
villes.where(villes.sexe == 'F').collect()

[Row(id=3, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:3.79 lat:3.81)', travail='(lon:0.20 lat:0.21)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=20026.72646423192, sexe='F', age=20, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=4, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:3.39 lat:0.93)', travail='(lon:0.58 lat:0.20)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=15214.584161640825, sexe='F', age=35, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=6, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:0.44 lat:1.45)', travail='(lon:1.85 lat:0.04)', sportif=False, casseur=False, statut='professeur', salaire=30852.120709809133, sexe='F', age=79, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=7, vitesse_a_pied=0.9726853575358816, vitesse_a_velo=2.431713393839704, home='(lon:0.18 lat:2.60)', travail='(lon:2.16 lat:2.28)', sportif=False, casseur=False, statut='employe', salaire=54494.87538632937, sexe='F', age=46, sportivite=4.863426787679408, velo_perf_minimale=0.4),
 Row(id=9, vitesse_a_pied=0.6295531740219638, vitesse_a_velo=1.5738829350549093, home='(lon:2.16 lat:2.32)', travail='(lon:3.44 lat:3.54)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=11799.927798039249, sexe='F', age=65, sportivite=3.1477658701098186, velo_perf_minimale=0.4),
 Row(id=11, vitesse_a_pied=0.25214291732243804, vitesse_a_velo=0.630357293306095, home='(lon:0.28 lat:2.44)', travail='(lon:1.28 lat:1.40)', sportif=False, casseur=False, statut='employe', salaire=53716.3729157698, sexe='F', age=21, sportivite=1.26071458661219, velo_perf_minimale=0.4),
 Row(id=14, vitesse_a_pied=0.3733552690301726, vitesse_a_velo=0.9333881725754316, home='(lon:3.87 lat:3.74)', travail='(lon:0.41 lat:0.36)', sportif=False, casseur=False, statut='cadre', salaire=74308.6319691613, sexe='F', age=34, sportivite=1.866776345150863, velo_perf_minimale=0.4),
 Row(id=16, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:1.37 lat:1.09)', travail='(lon:0.45 lat:1.77)', sportif=False, casseur=False, statut='éboueur', salaire=21040.289070523115, sexe='F', age=32, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=17, vitesse_a_pied=1.0608622097751907, vitesse_a_velo=2.6521555244379766, home='(lon:3.68 lat:0.79)', travail='(lon:2.67 lat:3.66)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=16946.365288912493, sexe='F', age=16, sportivite=5.304311048875953, velo_perf_minimale=0.4),
 Row(id=18, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:0.51 lat:2.32)', travail='(lon:1.01 lat:0.40)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=22099.145463261266, sexe='F', age=24, sportivite=0.1, velo_perf_minimale=0.4),
 Row(id=22, vitesse_a_pied=0.5931162118010243, vitesse_a_velo=1.4827905295025607, home='(lon:1.41 lat:2.43)', travail='(lon:1.49 lat:1.44)', sportif=False, casseur=False, statut='employe', salaire=38906.393030229774, sexe='F', age=36, sportivite=2.965581059005121, velo_perf_minimale=0.4),
 Row(id=23, vitesse_a_pied=0.1431743884246346, vitesse_a_velo=0.3579359710615865, home='(lon:0.80 lat:2.82)', travail='(lon:0.34 lat:3.77)', sportif=False, casseur=False, statut='employe', salaire=29085.686473822872, sexe='F', age=78, sportivite=0.7158719421231731, velo_perf_minimale=0.4),
 Row(id=27, vitesse_a_pied=0.4804764997211946, vitesse_a_velo=1.2011912493029866, home='(lon:0.78 lat:2.62)', travail='(lon:2.30 lat:0.01)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=18234.071705216207, sexe='F', age=59, sportivite=2.402382498605973, velo_perf_minimale=0.4),
 Row(id=29, vitesse_a_pied=0.07468040314496042, vitesse_a_velo=0.18670100786240107, home='(lon:3.75 lat:3.12)', travail='(lon:2.30 lat:3.92)', sportif=False, casseur=False, statut='reserviste', salaire=29515.863019061188, sexe='F', age=67, sportivite=0.3734020157248021, velo_perf_minimale=0.4),
 Row(id=30, vitesse_a_pied=0.5525664880322532, vitesse_a_velo=1.3814162200806333, home='(lon:1.08 lat:3.77)', travail='(lon:0.72 lat:3.32)', sportif=False, casseur=False, statut='employe', salaire=27046.171282769843, sexe='F', age=81, sportivite=2.7628324401612665, velo_perf_minimale=0.4),
 Row(id=34, vitesse_a_pied=0.03887047976999849, vitesse_a_velo=0.09717619942499622, home='(lon:2.83 lat:0.56)', travail='(lon:3.25 lat:1.60)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=17175.758356245642, sexe='F', age=21, sportivite=0.19435239884999245, velo_perf_minimale=0.4),
 Row(id=42, vitesse_a_pied=0.6992238313299156, vitesse_a_velo=1.7480595783247892, home='(lon:3.80 lat:3.99)', travail='(lon:2.13 lat:1.65)', sportif=False, casseur=False, statut='employe', salaire=19383.17526928032, sexe='F', age=21, sportivite=3.4961191566495784, velo_perf_minimale=0.4),
 Row(id=47, vitesse_a_pied=0.18444538804220728, vitesse_a_velo=0.4611134701055182, home='(lon:1.74 lat:3.62)', travail='(lon:2.96 lat:2.23)', sportif=False, casseur=False, statut='reserviste', salaire=30798.10624851897, sexe='F', age=58, sportivite=0.9222269402110364, velo_perf_minimale=0.4),
 Row(id=48, vitesse_a_pied=0.5652688776055729, vitesse_a_velo=1.413172194013932, home='(lon:3.51 lat:2.24)', travail='(lon:0.27 lat:1.34)', sportif=False, casseur=False, statut='éboueur', salaire=12133.681930505132, sexe='F', age=56, sportivite=2.8263443880278643, velo_perf_minimale=0.4),
 Row(id=49, vitesse_a_pied=0.9920385410084079, vitesse_a_velo=2.48009635252102, home='(lon:0.13 lat:2.04)', travail='(lon:1.35 lat:0.63)', sportif=False, casseur=False, statut='technicien_de_surface', salaire=9511.945356442959, sexe='F', age=58, sportivite=4.96019270504204, velo_perf_minimale=0.4),
 Row(id=51, vitesse_a_pied=0.02, vitesse_a_velo=0.05, home='(lon:2.05 lat:2.66)', travail='(lon:3.91 lat:3.22)', sportif=False, casseur=True, statut='professeur', salaire=24102.672522817837, sexe='F', age=61, sportivite=0.1, velo_perf_minimale=0.4)]

# 4) Transformer la données : les transformations!

## Transformations : demandent à être suivi par un collect ou une action (count par exemple)

## 4.1) Obtenir des statistiques sur les colonnes numériques

La méthode describe() permet de calculer les statistiques récapitulatives d'une ou plusieurs colonnes numériques dans un df. Si le nom des colonnes n'est pas spécifié, la méthode calculera des statistiques récapitulatives pour toutes les colonnes numériques présentes dans le df.

Afficher les statistiques de la colonne age.

In [100]:
villes.describe('age')

DataFrame[summary: string, age: string]

## 4.2) groupby

La méthode groupBy() suivie de la methode agg() permet de grouper le df selon les categories d'une ou plusieurs colonnes pour faire des calculs sur ces catégories.

Calculez la moyenne de la colonnes sportivité selon le sexe des personnes.

In [115]:
villes.groupby('sexe').avg('sportivite').collect()

[Row(sexe='F', avg(sportivite)=1.8410619134680517),
 Row(sexe='H', avg(sportivite)=1.6356186755623958)]

Calculez la moyenne de la colonne age et la valeur max de la colonne sportivité par sexe.

In [132]:
villes.groupby('sexe').avg('age').collect()

[Row(sexe='F', avg(age)=46.095238095238095),
 Row(sexe='H', avg(age)=50.06896551724138)]

In [131]:
villes.groupby('sexe').max('sportivite').collect()

[Row(sexe='F', max(sportivite)=5.304311048875953),
 Row(sexe='H', max(sportivite)=7.814024407120282)]

Calculez la moyenne des colonnes vitesse_a_pied et vitesse_a_velo par sexe.

In [135]:
villes.groupby('sexe').avg('vitesse_a_pied').collect()

[Row(sexe='F', avg(vitesse_a_pied)=0.36821238269361034),
 Row(sexe='H', avg(vitesse_a_pied)=0.4906856026687184)]

In [136]:
villes.groupby('sexe').avg('vitesse_a_velo').collect()

[Row(sexe='F', avg(vitesse_a_velo)=0.9205309567340259),
 Row(sexe='H', avg(vitesse_a_velo)=1.3084949404499162)]

## 4.3) summary

La méthode summary() permet des faire des calculs statistiques de base sur toutes les colonnes du df.

Appliquez un count et un max sur toutes les colonnes du df et afficher les résultats.

In [138]:
villes.summary("count", "max").show()

+-------+---+-----------------+-----------------+-------------------+-------------------+-------+-----------------+----+---+-----------------+------------------+
|summary| id|   vitesse_a_pied|   vitesse_a_velo|               home|            travail| statut|          salaire|sexe|age|       sportivite|velo_perf_minimale|
+-------+---+-----------------+-----------------+-------------------+-------------------+-------+-----------------+----+---+-----------------+------------------+
|  count| 50|               50|               50|                 50|                 50|     50|               50|  50| 50|               50|                50|
|    max| 51|2.344207322136085|6.251219525696226|(lon:3.90 lat:0.62)|(lon:3.91 lat:3.22)|éboueur|148702.7189509448|   H| 83|7.814024407120282|               0.4|
+-------+---+-----------------+-----------------+-------------------+-------------------+-------+-----------------+----+---+-----------------+------------------+

## 4.4) Union de dataframe

#### Ajouter les colonnes les unes à côté des autres : join

In [122]:
villes.join(villes, on="id").printSchema()

root
 |-- id: integer (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)
 |-- vitesse_a_pied: double (nullable = true)
 |-- vitesse_a_velo: double (nullable = true)
 |-- home: string (nullable = true)
 |-- travail: string (nullable = true)
 |-- sportif: boolean (nullable = true)
 |-- casseur: boolean (nullable = true)
 |-- statut: string (nullable = true)
 |-- salaire: double (nullable = true)
 |-- sexe: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- sportivite: double (nullable = true)
 |-- velo_perf_minimale: double (nullable = true)

#### Ajouter les lignes les unes sous les autres : union

In [139]:
villes.unionByName(villes).count()

100

## 4.6) Concaténation de colonne : F.concat

In [124]:
from pyspark.sql.types import *
from pyspark.sql import functions as F

Nous allons ici reprendre le df cyclistes.

Utiliser les méthodes withColumn() et F.concat() pour ajouter une colonne au df qui contiendra la concatenation des valeurs des colonnes id et sur_velo.

In [128]:
path = "./data/Cyclistes/*.csv" 
cyclistes = spark.read.format("csv").option("header", "true").load(path, inferSchema=True)
cyclistes.count()

2232000

In [ ]:
cyclistes.withColumn('joined_column', F.concat("id", "sur_velo")).show()

# 5) Fonctions udf 
Il est possible d'enregistrer des fonctions python que l'on écrit nous même pour les appliquer sur une colonne d'une dataframe, c'est ce qu'on appelle les udf, pour User Defined Functions.

Voici une fonction qui prend en argument une colonne et calcule le carré des valeurs de cette colonne.
Appliquez cette fonction sur la colonne salaire de votre df. Affichez le résultat.

In [145]:
from pyspark.sql.types import *
from pyspark.sql.functions import udf

@udf(returnType = FloatType())
def cube(colonne):
    return colonne*colonne

In [ ]:
print()

In [146]:
villes.select(cube("salaire")).collect()

[Row(cube(salaire)=18270216192.0),
 Row(cube(salaire)=401069760.0),
 Row(cube(salaire)=231483568.0),
 Row(cube(salaire)=332549088.0),
 Row(cube(salaire)=951853376.0),
 Row(cube(salaire)=2969691392.0),
 Row(cube(salaire)=1128804608.0),
 Row(cube(salaire)=139238304.0),
 Row(cube(salaire)=1097721600.0),
 Row(cube(salaire)=2885448704.0),
 Row(cube(salaire)=647486208.0),
 Row(cube(salaire)=1229584384.0),
 Row(cube(salaire)=5521772544.0),
 Row(cube(salaire)=2574637056.0),
 Row(cube(salaire)=442693760.0),
 Row(cube(salaire)=287179296.0),
 Row(cube(salaire)=488372224.0),
 Row(cube(salaire)=6955476480.0),
 Row(cube(salaire)=6151191552.0),
 Row(cube(salaire)=5757398016.0),
 Row(cube(salaire)=1513707392.0),
 Row(cube(salaire)=845977152.0),
 Row(cube(salaire)=15607006208.0),
 Row(cube(salaire)=279298720.0),
 Row(cube(salaire)=658956352.0),
 Row(cube(salaire)=332481376.0),
 Row(cube(salaire)=11568824320.0),
 Row(cube(salaire)=871186176.0),
 Row(cube(salaire)=731495360.0),
 Row(cube(salaire)=22112497664.0),
 Row(cube(salaire)=1202230528.0),
 Row(cube(salaire)=423060096.0),
 Row(cube(salaire)=295006688.0),
 Row(cube(salaire)=1184019968.0),
 Row(cube(salaire)=229316384.0),
 Row(cube(salaire)=4948908544.0),
 Row(cube(salaire)=880376512.0),
 Row(cube(salaire)=993021504.0),
 Row(cube(salaire)=332946784.0),
 Row(cube(salaire)=155353856.0),
 Row(cube(salaire)=375707488.0),
 Row(cube(salaire)=421229280.0),
 Row(cube(salaire)=454536128.0),
 Row(cube(salaire)=5381703680.0),
 Row(cube(salaire)=596220544.0),
 Row(cube(salaire)=948523328.0),
 Row(cube(salaire)=147226240.0),
 Row(cube(salaire)=90477104.0),
 Row(cube(salaire)=988872128.0),
 Row(cube(salaire)=580938816.0)]